.border{
border-color: aliceblue;
border-radius: 30px;
}
.menu{
   background-color:blue;
    height:50px;
}
.head1{
    background-color: blueviolet;
    height: 280px;
}
.head2{
background-color: brown;
height: 280px;
}
.img1{
    background-color: chartreuse;
    height: 200px;
}
.cont1{
background-color: rgb(251, 0, 255);
height: 200px;
}
.img2{
    background-color: chartreuse;
    height: 200px;
}
.cont2{
background-color: rgb(197, 25, 191);
height: 200px;
}
.menu1{
    background-color: navy;
    height: 50px;
}
.cont4{
    background-color: red;
    height: 200px;
}
.cont5{
    background-color: antiquewhite;
    height: 200px;
}
.cont6{
    background-color: rgb(235, 224, 14);
    height: 200px;
}
.cont44{
    background-color: rgb(235, 161, 25);
    height: 200px;
}
.cont55{
    background-color: rgb(12, 194, 239);
    height: 200px;
}
.cont66{
    background-color: mediumorchid;
    height: 200px;
}
.menu2{
    background-color: rgb(15, 17, 17);
    height: 40px;
}
.img3{
    background-color: lawngreen;
    height: 150px;
}
.img4{
    background-color: rgb(229, 70, 7);
    height: 150px;
}
.img5{
    background-color: rgb(191, 22, 224);
    height: 150px;
}
.img6{
    background-color: rgb(228, 45, 21);
    height: 150px;
}
.img7{
    background-color: rgb(185, 23, 230);
    height: 150px;
}
.img8{
    background-color: rgb(22, 39, 232);
    height: 150px;
}
.menu3{
    background-color: rgb(8, 9, 22);
    height: 50px;
}
.imgcont1{
    background-color: rgb(74, 159, 70);
    height: 300px;
}
.imgcont2{
    background-color: rgb(175, 150, 49);
    height: 300px;
}
.imgcont3{
    background-color: rgb(49, 143, 146);
    height: 300px;
}
.imgcont4{
    background-color: rgb(238, 243, 243);
    height: 300px;
}
.imgcont5{
    background-color: rgb(52, 31, 110);
    height: 300px;
}
.imgcont6{
    background-color: rgb(23, 143, 39);
    height: 300px;
}
.menu4{
    background-color: rgb(10, 11, 10);
    height: 50px;
}
.imag{
    background-color: rgb(19, 15, 225);
    height: 300px;
}
.content{
    background-color: rgb(237, 195, 24);
    height: 300px;
}
.menu5{
    background-color: rgb(210, 19, 194);
    height: 200px;
}
.content1{
    background-color: rgb(219, 21, 21);
    height: 300px;
}.content2{
    background-color: rgb(66, 203, 12);
    height: 300px;
}
.end1{
    background-color: rgb(21, 209, 223);
    height: 300px;
}
.end2{
    background-color: rgb(150, 61, 234);
    height: 300px;
}
.end3{
    background-color: rgb(106, 53, 6);
    height: 300px;
}
